@popup-z-index: 110;

.wp-popup {
	box-sizing: border-box;
	padding: 0;
	border-radius: 8px 8px 0 0;
	background-color: #fff;
	box-shadow: 0 30px 90px -20px rgba( 0, 0, 0, 0.3 ), 0 0 1px 1px rgba( 0, 0, 0, 0.05 );
	z-index: @popup-z-index;
	overflow: hidden;
	position: absolute;
}

.wp-touch-popup {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	padding: 0;
	border-radius: 8px 8px 0 0;
	background-color: #fff;
	box-shadow: 0 30px 90px -20px rgba( 0, 0, 0, 0.3 ), 0 0 1px 1px rgba( 0, 0, 0, 0.05 );
	z-index: @popup-z-index;
	overflow: hidden;
}

.wp-gallery-popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #222;
	z-index: @popup-z-index + 10;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	&-button {
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		height: 24px;
		width: 24px;
		color: #72777d;
		font-family: 'Linux Libertine', 'Georgia', 'Times', serif;

		&.close {
			background-image: inline-svg( '../images/close-white.svg' );
			top: 40px;
			position: absolute;
			right: 16px;
		}

		&.previous {
			background-image: inline-svg( '../images/arrow-previous.svg' );
			top: 320px;
			position: absolute;
			left: 16px;
		}

		&.next {
			background-image: inline-svg( '../images/arrow-next.svg' );
			top: 320px;
			position: absolute;
			right: 16px;
		}
	}

	&-image {
		width: 100%;

		img {
			width: 100%;
			background-color: #fff;
		}
	}

	&-caption {
		font-family: 'Lato', 'Linux Libertine', 'Georgia', 'Times', serif;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.56;
		letter-spacing: normal;
		color: #f8f9fa;
		padding: 0 16px 0 16px;
	}
}

.wp-dark-screen {
	background-color: rgba( 0, 0, 0, 0.7 );
	z-index: @popup-z-index - 10;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
