.wikipediapreview {
	display: flex;
	flex-direction: column;
	width: 350px;
	background-color: var( --wikipediapreview-primary-background-color );
	box-shadow: 0 30px 90px -20px rgba( 0, 0, 0, 0.3 ), 0 0 1px 1px rgba( 0, 0, 0, 0.05 );
	border-radius: 2px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;

	* {
		padding: 0;
		box-sizing: border-box;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&-header {
		display: flex;
		height: 52px;
		line-height: 62px;
		margin-top: 8px;
		margin-bottom: 8px;

		&-image {
			background-size: auto;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #eaecf0;
			height: 52px;
			width: 52px;
			border-radius: 4px;
			border: solid 1px #eaecf0;
			margin-left: 16px;
		}

		&-wordmark {
			background-image: url( https://wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg );
			background-repeat: no-repeat;
			background-position: left;
			background-size: 160px;
			flex-grow: 1;
			margin-left: 16px;
			margin-right: 16px;
			filter: var( --wikipediapreview-filter-setting );


			@wordmark-languages: ar, atj, bn, ca, cs, cy, et, fa, fr, he, hi, ja, la, ps, ru, sd, sr, szl, tr, ur, uz, zh;
			each(@wordmark-languages, {
				&-@{value} {
					background-image: url( 'https://wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-@{value}.svg' );
					background-size: unset;
				}
			});

			&-sr,
			&-fr {
				background-size: 160px;
			}

			&-he,
			&-sd,
			&-zh {
				background-size: 120px;
			}
		}

		&-closebtn {
			background-image: url( '../images/close.svg' );
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			height: 100%;
			text-align: center;
			width: 50px;
			filter: var( --wikipediapreview-filter-setting );
		}
	}

	&-body {
		max-height: 200px;
		overflow: scroll;
		margin-bottom: 16px;
		position: relative;

		p {
			margin: 0;
			line-height: 1.5;
			font-size: 18px;
			padding: 0 20px;
			color: var( --wikipediapreview-primary-color );
		}

		ul {
			padding-left: 35px;
			padding-right: 20px;
			line-height: 1.6;
			color: var( --wikipediapreview-primary-color );
		}

		&-message {
			display: flex;
			margin-left: 23px;
			margin-right: 23px;
			font-size: 16px;
			line-height: 1.4;
			color: var( --wikipediapreview-primary-color );
		}

		&-icon {
			display: absolute;
			vertical-align: middle;
			margin-right: 12px;
			width: 20px;
			height: 20px;
		}

		&-action {
			margin-left: 55px;
			margin-top: 12px;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;

			a {
				color: #36c;
			}
		}

		&.wikipediapreview-body-error {
			&:extend( .wikipediapreview-body-non-regular );

			.wikipediapreview-body-icon {
				content: url( '../images/error-preview.svg' );
			}
		}

		&.wikipediapreview-body-disambiguation {
			&:extend( .wikipediapreview-body-non-regular );

			.wikipediapreview-body-icon {
				content: url( '../images/articles.svg' );
			}
		}

		&.wikipediapreview-body-offline {
			&:extend( .wikipediapreview-body-non-regular );

			.wikipediapreview-body-message {
				margin-left: 16px;
				margin-right: 16px;
			}

			.wikipediapreview-body-icon {
				content: url( '../images/offline-icon.svg' );
			}

			.wikipediapreview-body-action {
				margin: 12px 49px;
			}
		}

		&.wikipediapreview-body-loading {
			&:extend( .wikipediapreview-body-non-regular );
			padding: 10px 20px;

			&:after {
				content: none;
			}

			.wikipediapreview-body-loading-line {
				height: 10px;
				margin-top: 12px;
				border-radius: 1px;
				background: linear-gradient( to right, #ebe9e9, #d6d3d3, #eaecf0 );
				background-size: 200% 200%;
				-webkit-animation: animate-load 2s ease infinite;
				-moz-animation: animate-load 2s ease infinite;
				animation: animate-load 2s ease infinite;
			}

			.wikipediapreview-body-loading-line.larger {
				width: 100%;
			}

			.wikipediapreview-body-loading-line.medium {
				width: 80%;
			}

			.wikipediapreview-body-loading-line.smaller {
				width: 60%;
			}

			@-webkit-keyframes animate-load {
				0% {
					background-position: 10% 0%;
				}

				50% {
					background-position: 91% 100%;
				}

				100% {
					background-position: 10% 0%;
				}
			}

			@-moz-keyframes animate-load {
				0% {
					background-position: 10% 0%;
				}

				50% {
					background-position: 91% 100%;
				}

				100% {
					background-position: 10% 0%;
				}
			}

			@keyframes animate-load {
				0% {
					background-position: 10% 0%;
				}

				50% {
					background-position: 91% 100%;
				}

				100% {
					background-position: 10% 0%;
				}
			}
		}
	}

	&-footer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		z-index: 5;

		&-link {
			margin-right: 5px;

			&-cta {
				text-decoration: none;
				font-size: 14px;
				color: #36c;
				margin-right: 4px;

				&:hover {
					text-decoration: underline;
				}

				&:visited {
					color: #6B4BA1;
					svg path {
						fill: #6B4BA1;
					}
				}
			}
		}

		&-loading {
			height: 30px;
			background-color: var( --wikipediapreview-secondary-background-color );
		}
	}

	&-scroll-cue {
		position: absolute;
		width: 350px;
		height: 70px;
		bottom: 0;
		pointer-events: none;
		background: -moz-linear-gradient( top, transparent 0%, var( --wikipediapreview-primary-background-color ) 100% );
		background: -webkit-linear-gradient( top, transparent 0%, var( --wikipediapreview-primary-background-color ) 100% );
		background: linear-gradient( to bottom, transparent 0%, var( --wikipediapreview-primary-background-color ) 100% );
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );
	}

	&.mobile {
		width: 100%;
		max-height: 55vh;

		.wikipediapreview-body {
			max-height: 55vh;
		}
		.wikipediapreview-scroll-cue {
			width: 100%;
		}
	}

	&[ dir='rtl' ] {
		.wikipediapreview-header-wordmark {
			background-position: right;
		}

		.wikipediapreview-header-image {
			margin-right: 16px;
			margin-left: 0;
		}

		.wikipediapreview-body-icon {
			margin-right: 0;
			margin-left: 12px;
		}

		.wikipediapreview-body-action {
			margin-left: 0;
			margin-right: 55px;
		}

		.wikipediapreview-footer {
			&-cc {
				left: 30px;
				right: auto;
			}

			&-author {
				left: 14px;
				right: auto;
			}

			&-link {
				margin-left: 5px;
				margin-right: 0;
			}
		}
	}
}

.wikipediapreview-body-non-regular {
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (prefers-color-scheme: dark) {
	.wikipediapreview,
	.wp-popup-arrow {
		.mixin-wikipediapreview-dark-theme();
	}
}

@media (prefers-color-scheme: light) {
	.wikipediapreview,
	.wp-popup-arrow {
		.mixin-wikipediapreview-light-theme();
	}
}

.wikipediapreview.wikipediapreview-dark-theme,
.wikipediapreview.wikipediapreview-dark-theme + .wp-popup-arrow {
	.mixin-wikipediapreview-dark-theme();
	
}

.wikipediapreview.wikipediapreview-light-theme,
.wikipediapreview.wikipediapreview-light-theme + .wp-popup-arrow {
	.mixin-wikipediapreview-light-theme();
}


.mixin-wikipediapreview-dark-theme () {
	--wikipediapreview-primary-background-color: #202122;
	--wikipediapreview-secondary-background-color: #202122;
	--wikipediapreview-primary-color: #eaecf0;
	--wikipediapreview-filter-setting: invert(1);
}

.mixin-wikipediapreview-light-theme () {
	--wikipediapreview-primary-background-color: #fff;
	--wikipediapreview-secondary-background-color: #eaecf0;
	--wikipediapreview-primary-color: #202122;
	--wikipediapreview-filter-setting: unset;
}

.wikipediapreview + .wp-popup-arrow {
	background-color: var( --wikipediapreview-primary-background-color );
}
