.wikipediapreview {
	display: flex;
	flex-direction: column;
	width: 350px;
	background-color: var( --wikipediapreview-primary-background-color );
	box-shadow: 0 30px 90px -20px rgba( 0, 0, 0, 0.3 ), 0 0 1px 1px rgba( 0, 0, 0, 0.05 );
	border-radius: 8px 8px 0 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;

	* {
		padding: 0;
		box-sizing: border-box;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&-header {
		display: flex;
		height: 72px;
		line-height: 62px;

		&-image {
			background-size: auto;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #eaecf0;
			height: 56px;
			width: 56px;
			border-radius: 4px;
			border: solid 1px #eaecf0;
			margin-left: 16px;
			margin-top: 16px;
		}

		&-wordmark {
			background-image: url( https://wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg );
			background-repeat: no-repeat;
			background-position: left;
			background-size: 160px;
			flex-grow: 1;
			margin-left: 16px;
			margin-right: 16px;
			filter: var( --wikipediapreview-filter-setting );

			&-with-image {
				margin-top: 16px;
			}

			@wordmark-languages: ar, atj, bn, ca, cs, cy, et, fa, fr, he, hi, ja, la, ps, ru, sd, sr, szl, tr, ur, uz, zh;
			each(@wordmark-languages, {
				&-@{value} {
					background-image: url( 'https://wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-@{value}.svg' );
					background-size: unset;
				}
			});

			&-sr {
				background-size: 160px;
			}

			&-he,
			&-sd,
			&-zh {
				background-size: 120px;
			}
		}

		&-closebtn {
			background-image: url( '../images/close.svg' );
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			height: 100%;
			text-align: center;
			width: 50px;
			filter: var( --wikipediapreview-filter-setting );
		}
	}

	&-body {
		max-height: 248px;
		overflow: auto;

		p {
			margin: 0;
			line-height: 1.6;
			font-size: 18px;
			padding: 10px 20px;
			color: var( --wikipediapreview-primary-color );
		}

		ul {
			padding-left: 35px;
			padding-right: 20px;
			line-height: 1.6;
			color: var( --wikipediapreview-primary-color );
		}

		&-message {
			display: flex;
			margin-left: 23px;
			margin-right: 23px;
			font-size: 16px;
			line-height: 1.4;
			color: var( --wikipediapreview-primary-color );
		}

		&-icon {
			display: absolute;
			vertical-align: middle;
			margin-right: 12px;
			width: 20px;
			height: 20px;
		}

		&-action {
			margin-left: 55px;
			margin-top: 12px;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;

			a {
				color: #36c;
			}
		}

		&.wikipediapreview-body-error {
			&:extend( .wikipediapreview-body-non-regular );

			.wikipediapreview-body-icon {
				content: url( '../images/error-preview.svg' );
			}
		}

		&.wikipediapreview-body-disambiguation {
			&:extend( .wikipediapreview-body-non-regular );

			.wikipediapreview-body-icon {
				content: url( '../images/articles.svg' );
			}
		}

		&.wikipediapreview-body-offline {
			&:extend( .wikipediapreview-body-non-regular );

			.wikipediapreview-body-message {
				margin-left: 16px;
				margin-right: 16px;
			}

			.wikipediapreview-body-icon {
				content: url( '../images/offline-icon.svg' );
			}

			.wikipediapreview-body-action {
				margin: 12px 49px;
			}
		}

		&.wikipediapreview-body-loading {
			&:extend( .wikipediapreview-body-non-regular );
			padding: 10px 20px;

			&:after {
				content: none;
			}

			.wikipediapreview-body-loading-line {
				height: 10px;
				margin-top: 12px;
				border-radius: 1px;
				background: linear-gradient( to right, #ebe9e9, #d6d3d3, #eaecf0 );
				background-size: 200% 200%;
				-webkit-animation: animate-load 2s ease infinite;
				-moz-animation: animate-load 2s ease infinite;
				animation: animate-load 2s ease infinite;
			}

			.wikipediapreview-body-loading-line.larger {
				width: 100%;
			}

			.wikipediapreview-body-loading-line.medium {
				width: 80%;
			}

			.wikipediapreview-body-loading-line.smaller {
				width: 60%;
			}

			@-webkit-keyframes animate-load {
				0% {
					background-position: 10% 0%;
				}

				50% {
					background-position: 91% 100%;
				}

				100% {
					background-position: 10% 0%;
				}
			}

			@-moz-keyframes animate-load {
				0% {
					background-position: 10% 0%;
				}

				50% {
					background-position: 91% 100%;
				}

				100% {
					background-position: 10% 0%;
				}
			}

			@keyframes animate-load {
				0% {
					background-position: 10% 0%;
				}

				50% {
					background-position: 91% 100%;
				}

				100% {
					background-position: 10% 0%;
				}
			}
		}
	}

	&-footer {
		position: relative;

		&-cta {
			width: 100%;
			height: 50px;
			text-decoration: none;
			text-align: center;
			padding: 16px;
			font-size: 18px;
			color: #36c;

			&-readmore {
				cursor: pointer;
				display: block;
			}

			&-readonwiki {
				display: block;
			}
		}

		&-loading {
			height: 30px;
			background-color: var( --wikipediapreview-secondary-background-color );
		}
	}

	&.expanded {
		.wikipediapreview-body {
			// calculate the max height in onExpand()
			max-height: 496px;
			overflow: scroll;

			&:after {
				content: none;
			}
		}
	}

	&.mobile {
		width: 100%;
	}

	&.mobile.expanded {
		.wikipediapreview-body {
			max-height: calc( 70vh );
			overflow: auto;
		}
	}

	&[ dir='rtl' ] {
		.wikipediapreview-header-wordmark,
		.wikipediapreview-header-wordmark-with-image {
			background-position: right;
			margin-right: 16px;
			margin-left: 0;
		}

		.wikipediapreview-header-image {
			margin-right: 16px;
			margin-left: 0;
		}

		.wikipediapreview-body-icon {
			margin-right: 0;
			margin-left: 12px;
		}

		.wikipediapreview-body-action {
			margin-left: 0;
			margin-right: 55px;
		}

		.wikipediapreview-footer {
			&-cc {
				left: 30px;
				right: auto;
			}

			&-author {
				left: 14px;
				right: auto;
			}
		}
	}
}

.wikipediapreview-body-non-regular {
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (prefers-color-scheme: dark) {
	.wikipediapreview,
	.wp-popup-arrow {
		.mixin-wikipediapreview-dark-theme();
	}
}

@media (prefers-color-scheme: light) {
	.wikipediapreview,
	.wp-popup-arrow {
		.mixin-wikipediapreview-light-theme();
	}
}

.wikipediapreview.wikipediapreview-dark-theme,
.wikipediapreview.wikipediapreview-dark-theme + .wp-popup-arrow {
	.mixin-wikipediapreview-dark-theme();
	
}

.wikipediapreview.wikipediapreview-light-theme,
.wikipediapreview.wikipediapreview-light-theme + .wp-popup-arrow {
	.mixin-wikipediapreview-light-theme();
}


.mixin-wikipediapreview-dark-theme () {
	--wikipediapreview-primary-background-color: #202122;
	--wikipediapreview-secondary-background-color: #202122;
	--wikipediapreview-primary-color: #eaecf0;
	--wikipediapreview-filter-setting: invert(1);
}

.mixin-wikipediapreview-light-theme () {
	--wikipediapreview-primary-background-color: #fff;
	--wikipediapreview-secondary-background-color: #eaecf0;
	--wikipediapreview-primary-color: #202122;
	--wikipediapreview-filter-setting: unset;
}

.wikipediapreview + .wp-popup-arrow {
	background-color: var( --wikipediapreview-primary-background-color );
}
