.header{
    position            : relative;
    color               : rgba(0, 62, 107, 1.0);
    text-align          : center;
    box-shadow          : 0 1px 1px 0 #e8e8e8;
    border-bottom       : 1px solid #acacac;
}

@media screen and (max-width: 650px) {
    .header {
        font-size: 18px;
        padding: 10px 0;
    }
}
@media screen and (min-width: 650px) {
    .header {
        font-size: 32px;
        padding: 15px 0;
    }
}