.wmf-wp-with-preview {
  background-color: #eaf3ff;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  border: solid 1px rgba(51, 102, 204, 0.48);
  cursor: pointer;
  line-height: normal;
}
.wmf-wp-with-preview::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDIwdjIwSDB6Ii8+PHBhdGggZmlsbD0iIzM2QyIgZmlsbC1vcGFjaXR5PSIuNyIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMTAuNTU2IDEuMTExYy00LjYgMC04LjMzNCAzLjczMy04LjMzNCA4LjMzM3MzLjczNCA4LjMzNCA4LjMzNCA4LjMzNCA4LjMzMy0zLjczNCA4LjMzMy04LjMzNC0zLjczMy04LjMzMy04LjMzMy04LjMzM3ptLjgzMyAxMi41SDkuNzIydi01aDEuNjY3djV6bTAtNi42NjdIOS43MjJWNS4yNzhoMS42Njd2MS42NjZ6Ii8+PC9nPjwvc3ZnPg==");
  display: inline-block;
  vertical-align: middle;
  margin-left: 1px;
}
[dir='rtl'] .wmf-wp-with-preview::after {
  margin-left: auto;
  margin-right: 1px;
}

