.wmf-wp-with-preview {
  font-weight: 400;
  text-decoration: underline dashed;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: rgba(0, 0, 0, 0.5);
  color: inherit;
  cursor: pointer;
}

